:root {
  font-size: 10px;
}

body {
  font-family: "Noto Sans JP", serif;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  color: #333E48;
  position: relative;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* 共通 */
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: color .2s;
}

.Blu01 {
  color: #1C86EE;
}

.Ore01 {
  color: #FF7F50;
}

.Red01 {
  color: #FF5050;
}

/* ヘッダー */
header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

h1 {
  font-size: 16px;
  padding: 12px 12px 8px;
  background: #6B8E23;
  color: #FFF;
}

/* フッター */
.footer {
  display: flex;
  padding: 12px 12px 16px;
  position: fixed;
  border-top: 1px solid #F5F5F5;
  bottom: 0;
  width: 100%;
  background: #FFF;
  box-sizing: border-box;
  z-index: 100;
}

.footer a {
  width: 25%;
  color: #909090;
  text-align: center;
}

.footer a.active {
  color: #6B8E23;
}

.footer a img {
  filter: brightness(0) saturate(100%) invert(82%) sepia(0%) saturate(5788%) hue-rotate(183deg) brightness(99%) contrast(116%);
  width: 20px;
  height: 20px;
}

.footer a.active img {
  filter: brightness(0) saturate(100%) invert(47%) sepia(76%) saturate(429%) hue-rotate(38deg) brightness(90%) contrast(85%);
}

.footer p {
  font-size: 10px;
  font-weight: bold;
}

/* アイテム一覧 */
.wrapper {
  padding: 60px 12px 60px;
}

.item-contents {
  border: 1px solid #DDDDDD;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
}

.item-contents.deadline {
  background: #FFF7F7;
  border: 2px solid #FF5050;
}

.item-contents + .item-contents {
  margin-top: 12px;
}

.item-contents .label {
  font-size: 1.6rem;
  font-weight: bold;
  border: 1px solid currentColor;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-contents h2 {
  font-size: 1.6rem;
}

.item-detail {
  margin-left: 12px;
}

.item-detail p {
  display: inline;
  margin-top: 4px;
}

.item-contents p + p {
  margin-left: 8px;
}

.item-detail p span {
  color: #909090;
  font-size: 1.2rem;
}

/* アイテム追加 */
.new-item {
  position: fixed;
  right: 8px;
  bottom: 90px;
  width: 80px;
  height: 80px;
  border: 3px solid #6B8E23;
  background: #FFF;
  border-radius: 50%;
  text-align: center;
}

.new-item p {
  padding-top: 44px;
  font-weight: bold;
  position: relative;
}

.new-item p::before {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../img/newItem.svg) no-repeat 0 0;
  top: 10px;
}

.modal-content:not(:last-child) {
  border-bottom: 1px solid #f5f5f5
}

.modal-item-name {
  width: 100%;
  border: none;
  padding: 8px 32px;
  border-bottom: 1px solid #f5f5f5;
  font-size: 20px;
  font-weight: bold;
  box-sizing: border-box;
}

#modal input::placeholder {
  color: #909090;
}

.modal-flex {
  display: flex;
  justify-content: space-between;
  padding: 8px 0 8px 32px;
  align-items: center;
}

.modal-flex p {
  color: #5F6368;
}

.modal-flex input,
.modal-flex select {
  height: 44px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  font-size: 16px;
  font-weight: bold;
  width: 120px;
  color: #333E48;
  text-align: right;
  padding: 8px 12px;
  box-sizing: border-box;
  background: #fff;
}

.modal-flex-02 {
  display: flex;
}

.modal-flex-02 select {
  width: 60px;
  padding: 8px;
  margin-left: 16px;
  text-align: left;
}

.modal-flex-02 select:last-child {
  width: 90px;
}

select.modal-03 {
  width: 60px;
  padding: 8px;
  text-align: left;
}

.modal-flex.icon {
  position: relative;
}

.modal-flex.icon::before {
  position: absolute;
  content: "";
  left: 4px;
  top: 50%;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
}

.modal-flex.icon.icon-limit::before {
  background: url(../img/limit.svg) no-repeat;
}

.modal-flex.icon.icon-reminder::before {
  background: url(../img/reminder.svg);
}

.modal-flex.icon.icon-priority::before {
  background: url(../img/priority.svg);
}

/* モーダル */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: none;
  z-index: 10;
}

.modal-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 100%;
  height: 80%;
}

.modal-title {
  display: flex;
  background: #6B8E23;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-radius: 12px 12px 0 0;
  position: relative;
}

.modal-title::before {
  position: absolute;
  content: "";
  width: calc(100% - 20px);
  height: 24px;
  border-radius: 16px 16px 0 0;
  top: -16px;
  background: #f5f5f5;
  z-index: -1;
}

.modal-title h3 {
  color: #fff;
  font-size: 16px;
}

.modal-content {
  padding: 8px 12px;
}

.modal-btn {
  border: none;
  background: none;
  width: 24px;
  height: 24px;
  position: relative;
  padding: 0;
}

.modal-btn.modal-close span,
.modal-btn.modal-comp span {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.modal-btn.modal-close span  {
  width: 20px;
  height: 20px;
  background: url(../img/close.svg) no-repeat;
}

.modal-btn.modal-comp span  {
  background: url(../img/comp.svg) no-repeat;
}

/* ショッピングリスト */
.tab {
  display: flex;
  flex-wrap: wrap;
}

.tab > .tab-label {
  flex: 1 1;
  order: -1;
  min-width: 70px;
  padding: 8px;
  background-color: #ffffff;
  color: #333E48;
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #DDDDDD;
}

.tab input {
  display: none;
}

.tab .shopping-list {
  display: none;
  width: 100%;
  padding: 12px 0;
}

.tab label:has(:checked) {
  color: #6B8E23;
  position: relative;
}

.tab label:has(:checked)::before {
  position: absolute;
  content: "";
  width: 45%;
  height: 3px;
  background: #6B8E23;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.tab label.tab-label:has([type="radio"]:checked) + .shopping-list {
  display: block;
  padding: 12px 0;
  width: 100%;
}

.item-contents {
  position: relative;
}

.tab input.item-checkbox {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  z-index: 2;
  width: 40px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../img/check.svg) no-repeat 0 0;
  display: block;
  margin: 0;
}

.tab input.item-checkbox:checked {
  background: url(../img/checked.svg) no-repeat 0 0;
}

label.item-detail {
  margin-left: 48px;
}

.shopping-list.done  li{
  background: #F3F3F3;
}

